body{
   font-family: 'Noto Serif SC', serif;
   background-color: #d1e0e0;
}
div.a {
  text-align: left;
  color: #660000;
 font-family: 'Noto Serif SC', serif;
 font-size:20px;
 padding-left: 40px;
}
p{
}
h1{
	font-size:35px;
	padding-right: 10px;
    padding-bottom: 25px;
    padding-left: 0px;
    margin-bottom: 15px;
    margin-top: 45px;
    font-weight: normal;

}
h2{
    text-align: left;
    font-weight: normal;
    font-family: 'Noto Serif SC', serif;
    padding-left: 0px;
}
h6{
    text-align: left;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 0px;
    margin-top: 10px;
}
div.b{
  text-align: left;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-left: 200px;
    margin-bottom: 0px;
    margin-top: 0px;
    color: #002266;
    font-family: 'Noto Serif SC', serif;
}
div.i{
    text-align: left;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    color: #002266;
    font-family: 'Noto Serif SC', serif;
    font-size: 20px;
}
div.g{
    font-size: 30px;
    color: #002266;
    font-family: 'Noto Serif SC', serif;
    text-align: left;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 200px;
    margin-bottom: 0px;
    margin-top: 100px;
}
div.h{
    font-size: 65px;
    color: #002266;
    font-family: 'Abril Fatface', cursive; 
    text-align: left;
    padding-right: 20px;
    padding-bottom: 50px;
    padding-left: 200px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: bolder;
}
h4{
    font-size: 40px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
    margin-top: 30px;
    font-family: 'Abril Fatface', cursive; 

}
h5{
    font-size: 20px;
    text-align: right;
    margin-bottom: 0px;
    margin-top: 10px;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-family: 'Abril Fatface', cursive; 
}
div.c{
	text-align: right;
    color: #5c8a8a;
    font-family: 'Noto Serif SC', serif;
    margin-bottom: 80px;
    margin-top: 10px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-bottom: 35px;
}
div.d{
color: #b35900;
font-family: 'Noto Serif SC', serif;

}
h3{
    text-align: center;
    font-weight: normal;
    margin-bottom: 5px;
    margin-top: 40px;
    color: #b34700;
}
div.e{
    font-size: 18px;
    text-align: left;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 200px;
    color:  #0073e6;
     margin-bottom: 20px;
    margin-top: 10px;
}
span.f{
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 30px;
    font-size: 13px;
    color: #000000

}
strong{
    font-weight:900px;
    font-family: 'Abril Fatface', cursive; 
    font-size: 25px;
}

