body{
   background-color: #d1e0e0;
   padding-left: 50px;
   padding-right:50px;
   padding-top:50px;
}
div.a {
  text-align: left;
  color: #660000;
    font-family: 'Tinos', serif;
 font-size:25px;
 padding-left: 40px;
 line-height: 45px;
}
h1{
	font-size:40px;
	padding-right: 10px;
    padding-bottom: 25px;
    padding-left: 0px;
    margin-bottom: 15px;
    margin-top: 45px;
    font-weight: normal;
    line-height:50px;

}
h2{
    text-align: left;
    font-weight: normal;
    font-family: 'Tinos', serif;
    padding-left: 0px;
    font-size: 45px;
}
h6{
    text-align: left;
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 0px;
    margin-top: 10px;
}
div.b{
  text-align: left;
    font-size: 25px;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-left: 200px;
    margin-bottom: 0px;
    margin-top: 55px;
    color: #002266;
    font-family: 'Tinos', serif;
    line-height: 38px;
}
div.i{
    text-align: left;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    color: #002266;
    font-family: 'Tinos', serif;
    font-size: 33px;
}
div.g{
    font-size: 50px;
    color: #002266;
    font-family: 'Tinos', serif;
    text-align: left;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 200px;
    margin-bottom: 0px;
    margin-top: 300px;
}
div.h{
    font-size: 80px;
    color: #002266;
    font-family: 'Abril Fatface', cursive; 
    text-align: left;
    padding-right: 20px;
    padding-bottom: 300px;
    padding-left: 200px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: bolder;
}
h4{
    font-size: 80px;
    padding-right: 10px;
    padding-bottom: 30px;
    padding-left: 0px;
    margin-bottom: 0px;
    margin-top: 100px;
    font-family: 'Abril Fatface', cursive; 

}
h5{
    font-size: 30px;
    text-align: right;
    margin-bottom: 0px;
    margin-top: 10px;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-family: 'Abril Fatface', cursive; 
}
div.c{
	text-align: right;
    color: #3973ac;
    font-family: 'Tinos', serif;
    margin-bottom: 80px;
    margin-top: 10px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-bottom: 35px;
    font-size: 25px;
}
div.d{
font-family: 'Tinos', serif;

}
h3{
    text-align: center;
    font-weight: normal;
    margin-bottom: 50px;
    margin-top: 40px;
    color: #cc4400;
    font-size: 33px;
}
div.e{
    font-size: 25px;
    text-align: left;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 200px;
    color:  #527a7a;
     margin-bottom: 50px;
    margin-top: 10px;
}
div.j{
    text-align: left;
    font-size: 30px;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-left: 200px;
    margin-bottom: 0px;
    margin-top: 20px;
    color: #002266;
    font-family: 'Tinos', serif;
    line-height: 38px;
}
span.f{
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 30px;
    font-size: 20px;
    color: #4d4d4d;

}
strong{
    font-weight:900px;
    font-family: 'Abril Fatface', cursive; 
    font-size: 30px;
}

