body{
   font-family: 'Roboto', sans-serif;
   background-color: white;
   padding: 1.5em;
}

h1{
	font-size: 8em;
	padding-left: .8em;
	margin-top: 1em;
	margin-bottom: 0em;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: #ffff;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  padding: 1em;
  text-align: center;
  font-size: 30px;
}
a:link {
  text-decoration: none;
  background-color: none;
}

a:visited {
  text-decoration: none;
}
