body{
   background-color: #ffffff;
    padding-left: 6vw;
   padding-right:6vw;
   padding-top:3vh;
   font-family: 'Heebo', sans-serif;
}
.composition{
  margin: auto;
  width: 100%;
  height: 100%;
  padding-top: 3em;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #4d0000;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  font-family: 'Heebo', sans-serif;
  color: #ffffff;
  display: block;
  transition: 0.3s;
  
}

.sidenav a:hover {
  color: #000000;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 50%;
  height: 50%;
}

.box {
  display: grid;
  grid-template-columns: 220px 220px 220px 220px;
  grid-template-rows: 220px 220px 220px;
  padding: 0px;
  justify-content: center;
  align-content: center;
  position: relative;
}
.blob {
  background-color: rgba(255, 255, 255, 0.8);
  border: 0px solid rgba(0, 0, 0, 0);
  padding: 0px;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
}

.blob text {
  opacity: 0;
  fill: black;
  font-size: 1em;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform:translateX(-50%);
  text-align: center;
  justify-content: center;
  transition: all 0.5s ease;
}
.blob:hover text {
  opacity: 1!important;
}

.temperature{
  position: relative;
  margin:0px;
  left:60em;
  top: -39em;

}
.bar{
  width:3em;
  height:.8em;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin:0px;
}

.min{
    font-size: 1rem;
    color: black;
    position: absolute;
    top:2em;
    left: 3.2em;
    margin-left: -30px;
    transform: rotate(90deg);
}

.temp{
  position: absolute;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.pic
{
  position: relative;
}
.all
{ display: grid;
  position: relative;
  grid-template-columns: 220px 220px 220px 220px;
  grid-template-rows: 220px 220px 220px;
  justify-content: center;
  top: -41.6em;
}
.title{
  background-color: rgba(255, 255, 255, 0.8);
  border: 0px solid rgba(0, 0, 0, 0);
  padding:20px;
  text-align: center;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center; 
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.city{
  position:absolute;
  font-weight: bolder;
  font-size: 1.2em;
  padding-top: 2.3em;
}
#london1{
  padding-top:4em;
}
#paris1{
  padding-top:4em;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.toggle{
  position:relative;
  display: block;
  top: -42em;
  border: 1px black;
}
svg{
   padding: 20px;
}
.content{
  display: none;
  fill: black;
  font-weight: bolder;
  padding-top: 5em;
  font-size: 1em;
}
.title:hover .content {
  display: block;
}
#button {
  background-color: #000000;
  border: none;
  color: white;
  padding: 12px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
}
#myText{
  background-color: #000000;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2em;
  outline: none;
}
svg{
  overflow:auto;
  align-content: center;
  text-align: center;
}

#a1{
  -webkit-animation: pulsate;
  animation-iteration-count: infinite;
}
#a2{
  -webkit-animation: pulsate;
  animation-iteration-count: infinite;
}
#a3{
  -webkit-animation: pulsate;
  animation-iteration-count: infinite;
}
#a4{
  -webkit-animation: pulsate;
  animation-iteration-count: infinite;
}
#a5{
  -webkit-animation: pulsate;
  animation-iteration-count: infinite;
}
#a6{
  -webkit-animation: pulsate;
  animation-iteration-count: infinite;
}
#a7{
  -webkit-animation: pulsate;
  animation-iteration-count: infinite;
}
#a8{
  -webkit-animation: pulsate;
  animation-iteration-count: infinite;
}
#a9{
  -webkit-animation: pulsate;
  animation-iteration-count: infinite;
}
#a10{
  -webkit-animation: pulsate;
  animation-iteration-count: infinite;
}
#a11{
  -webkit-animation: pulsate;
  animation-iteration-count: infinite;
}
#a12{
  -webkit-animation: pulsate;
  animation-iteration-count: infinite;
}
@-webkit-keyframes pulsate {
  0% { -webkit-transform: scale(0); }
  50% { -webkit-transform: scale(.9)}
  100% { -webkit-transform: scale(0); opacity: 50%; }
}


