body{
   background-color: #ffffff;
  padding-left: 60px;
   padding-right:60px;
   padding-top:30px;
   padding-bottom: 0px;
   font-family: 'Heebo', sans-serif;

}
 .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #4d0000;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  font-family: 'Heebo', sans-serif;
  color: #ffffff;
  display: block;
  transition: 0.3s;
  
}

.sidenav a:hover {
  color: #000000;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.box{
  width:100vw;
  height:100vh;
}
.blob {
  position: absolute;
  z-index: -1;
  animation: movh 20s ease-in-out infinite;
  transform-origin: 50% 50%;
}
@keyframes movh {
   0%   { transform: scale(1)   translate(60vw, 13vh); }
  38%  { transform: scale(1) translate(50vw, 30vh) rotate(160deg); }
  40%  { transform: scale(1) translate(50vw, 30vh) rotate(160deg); }
  78%  { transform: scale(1) translate(0vw, 20vh) rotate(-20deg); }
  80%  { transform: scale(1) translate(0vw, 20vh) rotate(-20deg); }
  100% { transform: scale(1)   translate(60vw, 13vh); }
}
.blob2 {
  position: absolute;
  z-index: -1;
  animation: moves 20s ease-in-out infinite;
  transform-origin: 50% 50%;
}
@keyframes moves {
   0%   { transform: scale(1)   translate(0vw, -10vh); }
  38%  { transform: scale(1) translate(10vw, -20vh) rotate(160deg); }
  40%  { transform: scale(1) translate(10vw, -20vh) rotate(160deg); }
  78%  { transform: scale(1) translate(30vw, 40vh) rotate(-20deg); }
  80%  { transform: scale(1) translate(30vw, 40vh) rotate(-20deg); }
  100% { transform: scale(1)   translate(0vw, -10vh); }
}
.blob3 {
  position: absolute;
  z-index: -1;
  animation: moving 20s ease-in-out infinite;
  transform-origin: 50% 50%;
}
@keyframes moving {
   0%   { transform: scale(1)   translate(15vw, 13vh); }
  38%  { transform: scale(1) translate(70vw, 0vh) rotate(160deg); }
  40%  { transform: scale(1) translate(70vw,0vh) rotate(160deg); }
  78%  { transform: scale(1) translate(0vw, -50vh) rotate(-20deg); }
  80%  { transform: scale(1) translate(0vw, -50vh) rotate(-20deg); }
  100% { transform: scale(1)   translate(15vw, 13vh); }
}
.blob4 {
  position: absolute;

}
@keyframes move {
   0%   { transform: scale(1)   translate(-10vw, 0vh); }
  38%  { transform: scale(1) translate(20vw, 30vh) rotate(160deg); }
  40%  { transform: scale(1) translate(20vw, 30vh) rotate(160deg); }
  78%  { transform: scale(1) translate(-70vw, 0vh) rotate(-20deg); }
  80%  { transform: scale(1) translate(-70vw, 0vh) rotate(-20deg); }
  100% { transform: scale(1)   translate(-10vw, 0vh); }
}
