body{
    font-family: 'Roboto', sans-serif;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom:50px;
    padding-top: 50px;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #9fbfdf;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #060d13;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #9fbfdf;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


#uppercase-K {
  width:400px;
  height:500px;
  position: relative;
  padding-left: 50px;
}
.rectangle3 {
  height: 500px;
  width: 140px;
  background-color: black;
  position: absolute;
  left: 60px;
  top: 0px;
}
.rectangle4 {
  height: 350px;
  width: 140px;
  transform: rotate(-45deg);
  background-color: black;
  position: absolute;
  left: 205px;
  top: 150px;
}
.circle3 {
  height: 180px;
  width: 180px;
  background-color: black;
  border-radius: 50%;
  left: 270px;
  top: 0px;
  position: absolute;
}
