body{
    font-family: 'Roboto', sans-serif;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom:50px;
    padding-top: 50px;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #9fbfdf;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #060d13;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #9fbfdf;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


#uppercase-A {
  width:400px;
  height:500px;
  position: relative;
  padding-left: 50px;

}
.triangle1 {
  width:0;
  height:0;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-bottom: 500px solid black;

}
.triangle2 {
  width: 0;
  height: 0;
  border-left: 72px solid transparent;
  border-right: 72px solid transparent;
  border-bottom: 230px solid white;
  position: absolute; 
  left: 180px;
  top: 272px;
}
.circle {
  height:  140px;
  width: 140px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  left: 180px;
  top: 350px;
}

pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
  width:400px;
}

#uppercase-T {
  width:400px;
  height:500px;
  position: relative;
}
.circle2 {
  height: 150px;
  width: 150px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
}
.rectangle1 {
  height: 140px;
  width: 250px;
  background-color: black;
  position: absolute;
  left: 150px;
  top: 0px;
}
.rectangle2 {
  height: 470px;
  width: 140px;
  background-color: black;
  position: absolute;
  left: 150px;
  top: 30px;
}
pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
  width:400px;
}

#uppercase-K {
  width:400px;
  height:500px;
  position: relative;
}
.rectangle3 {
  height: 500px;
  width: 140px;
  background-color: black;
  position: absolute;
  left: 10px;
  top: 0px;
}
.rectangle4 {
  height: 350px;
  width: 140px;
  transform: rotate(-45deg);
  background-color: black;
  position: absolute;
  left: 155px;
  top: 150px;
}
.circle3 {
  height: 180px;
  width: 180px;
  background-color: black;
  border-radius: 50%;
  left: 220px;
  top: 0px;
  position: absolute;
}
pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
  width:400px;
}

#number-5 {
  width:400px;
  height:500px;
  position: relative;
}
.rectangle5 {
  height: 140px;
  width: 260px;
  background-color: black;
  position: absolute;
  left: 100px;
  top: 0px;
}
.rectangle6 {
  height: 295px;
  width: 140px;
  background-color: black;
  transform: rotate(13deg);
  position: absolute;
  left: 65px;
  top: 12px;
}
.circle4 {
  height: 355px;
  width: 355px;
  background-color: black;
  border-radius: 50%;
  left: 31px;
  top: 145px;
  position: absolute;
}
pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
  width:400px;
}